.buildpath
.project
.settings/
phpinfo.php

# Regole per la cartella scarico/
scarico/* # Ignora tutti i file e le sottocartelle DENTRO 'scarico/'
!scarico/.gitkeep   # MA NON ignorare il file .gitkeep